:root 
{
    --pink_colors_for_dark_backgrounds: rgba(246, 85, 120, 0.933);
    --dark-pink_colors_for_dark_backgrounds: rgba(182, 59, 85, 0.966);
    --bg-color: #0d0c0d;
}

body 
{
  overflow-x: hidden;
  background-color: var(--bg-color);
}

.bg-nav 
{
    background-color: #343a40;
}

aside.logo 
{
  height: 95vh;
}

#home 
{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.842), rgba(0, 0, 0, 0.842)), url("../src/foto.jpg");
}


.h1-title, .sub-title
{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    letter-spacing: 0.15rem;
}

.sub-title 
{
    font-weight: normal;
    font-size: 2.8em;
}

.skills 
{
    font-size: 1.2em;
}

button 
{
  width: 20%;    
}

.btn-design 
{
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.315);  
    background-color: var(--pink_colors_for_dark_backgrounds);     
}

.btn-design:hover 
{
    background-color: var(--dark-pink_colors_for_dark_backgrounds);
}

nav:hover 
{
    cursor: pointer;
}

hr 
{
    background-color: var(--pink_colors_for_dark_backgrounds);
    width: 40px;     
}

.hr 
{
    
    width: 100px;

}

.service 
{
    margin-left: 20%;
    width: 30%;
}

a 
{
    text-decoration: none;
}

.bg-color 
{
    background-color: var(--dark-pink_colors_for_dark_backgrounds);
}


@media (max-width: 767px)
{
    .h1-title 
    {
        font-size: 1.6em;
        margin-right: 5%;
        margin-left: 5%;        
    }

    .sub-title 
    {
        font-size: 1.5em;
    }

    .skills 
    {
        font-size: 0.9em;
        margin-right: 5%;
        margin-left: 5%;
    }

    .btn-design 
    {
        font-size: 0.9em;
        width: 40%;
    }

    body 
    {
        overflow-x: hidden;
    }
}